.flex {
  display: flex;
}

.account {
  width: 300px;
}

.inputDiv {
  display: flex;
  align-items: center;
}
.inputDiv > p {
  margin-right: 4px;
}

.balance {
  font-size: 18px;
}

.text {
  font-size: 20px;
  font-weight: 700;
}
